#logo-name{
    display: flex;
    align-items: center;
}

.flexbox-nav{
    display: flex;
    justify-content: space-evenly;
}

.nav-bttn{
    height: 4rem;
    border-color: transparent;
    width: 100%;
}

.nav-bttn:hover{
    cursor: pointer;
}

.flexbox-header{
    display: flex;
    background-color:transparent;
    justify-content: space-between;
    align-items: center;
}

.match-bg{
    background-color: transparent;
    border-color: transparent;
}

.match-bg:hover{
    cursor: pointer;
}

.size-header-img{
    max-width: 5vw;
}

p{
    display: block;
}